.attribute-select-grid
  display: grid
  grid-column-gap: 2%
  grid-template-columns: 1fr minmax(50px,100px)
  max-width: 200px
  min-width: 150px

  &:nth-of-type(1n+1)
    margin-top: 5px

.attribute-select-icons
  align-content: center
  display: inline-grid
  grid-column-gap: 2%
  grid-template-columns: 50px 1fr 50px
  justify-items: center
